<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.ejemplo.atami">
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:required="true" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name=".auth.AuthActivity2"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".permisos.PermisosMicro" />
        <activity android:name=".permisos.PermisosAlmacenaje" />
        <activity android:name=".principal.PantallaPrincipal" />
        <activity android:name=".auth.HomeActivity" />
        <activity android:name=".auth.AuthActivity" />
        <activity android:name=".popUpWindow.PopUpWindowAddMoney"
            android:theme="@style/Theme.Atami.Custom"
            android:launchMode="singleTask"/>
        <activity android:name=".popUpWindow.PopUpWindowTakeOut"
            android:theme="@style/Theme.Atami.Custom"
            android:launchMode="singleTask"/>
        <activity android:name=".perfil.Perfil" />
        <activity android:name=".graficos.Anual" />
        <activity android:name=".graficos.Semestral" />
        <activity android:name=".graficos.Trimestral" />
        <activity android:name=".graficos.Mensual" />
        <activity android:name=".premium.Premium" />
        <activity android:name=".premium.Premium2" />
        <activity android:name=".calendario.Calendario" />
        <activity android:name=".operaciones.addMoney.AddMoneyActivity" />
        <activity android:name=".operaciones.takeOut.TakeOutMoneyActivity" />
        <activity android:name=".operaciones.OperacionPorVoz" />
        <activity android:name=".operaciones.succesfullOperation.OperationCorrect" />
    </application>

</manifest>